.item-container {
  width: 300px;
  height: 300px;
  margin: 10px;
  .header {
    height: 30px;
    font-size: 20px;
    margin: 5px;
  }
  .img {
    border: 1px solid gray;
  }
  .edit-icon {
    height: 15px;
    cursor: pointer;
    .fa-edit {
      font-size: 14px;
      color: gray;
    }
  }
}
