<div class="app-container">
  <div class="form-group row" [formGroup]="searchfg">
    <div ngbDropdown class="">
      <button class="btn btn-outline-primary" ngbDropdownToggle>
        Category: {{ selectedCategory || "Select a Category" }}
      </button>
      <div ngbDropdownMenu class="dropdown-menu">
        <button
          class="dropdown-item"
          *ngFor="let cat of allCategories"
          (click)="setCategory(cat)"
        >
          {{ cat }}
        </button>
      </div>
    </div>

    <div class="col-8">
      <input
        formControlName="search"
        class="form-control"
        type="search"
        placeholder="search by description"
      />
    </div>
    <button
      type="button"
      class="btn  btn-success col-2"
      (click)="openModal(null)"
    >
      Add New Item
    </button>
  </div>
  <div class="items-container">
    <app-detail-card
      *ngFor="let item of filteredItems; index as i"
      [item]="item"
      [index]="i"
      (editEmitter)="openModal($event)"
    ></app-detail-card>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->
